@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

:root,
* {
    padding: 0;
    margin: 0;
    font-family: "suez one";
    box-sizing: border-box;
}

body {
    background-color: #BFD7EA;
}

h1 {
    text-align: center;
    align-items: center;
}

li {
    list-style: none;
}


.navbar {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FF5A5F;
    width: 100vw;
    font-size: small;
    justify-content: space-around;
}


.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    gap: 10px;
    height: 50px;
    align-items: center;
    align-self: flex-end;

}
/*  */

.producto {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
}
.producto img {
    width: 230px;
    border-radius: 25px;
}
.producto article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titulo {
    display: flex;
    justify-content: space-between;
}
.producto article button {
    justify-content:space-between;
    justify-items: right;
    background-color: #C81D25;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    /* border: 5px solid black; */
    
}

footer {
    background-color: #FF5A5F;
    width: 100vw;
    font-size: small;
}
h2 {
    display: flex;
    justify-content: center;
}
.copyright {
    display: flex;
    justify-content: center;
}
footer div {
    display: flex;
    justify-content:space-between;
}
.footer-links {
    padding-left: 30px;
}
.footer-iconos {
    display: flex;
    align-items: baseline;
    gap: 80px;
    padding-right: 30px;
}
a {
    text-decoration: none;
    color: black;
}